<div class="post-header">
  <div class="left-header">
    <div class="header-button">
      <a href="#">自チームのチャット画面へ</a>
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">カレンダー</a>
    </div>
  </div>
</div>

<div class="posts">
  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        Tom
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        何月何日サッカーします
      </div>
    </div>
  </div>

  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        Rinta
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        何月何日〇〇の会場空いてます！
      </div>
    </div>
  </div>
</div>

<div class="form">
  <div class="form-input">
    <%# <input class="form-message"> %>
    <a href="#" , class="form-message">情報を投稿する</a>

  </div>
</div>