<div class="side-bar-header">
   <div class="header-name">
      <%= link_to "FutLive", root_path %>
   </div>
      <% if user_signed_in? %>
        <div class="create-room">
          <%= link_to 'ログアウト', destroy_user_session_path,  method: :delete%>
        </div>
     <% else %>
        <div class="create-room">
           <%= link_to "ログイン/新規登録", new_user_session_path %>
        </div>
      <% end %>
</div>


<div class="rooms">
  <div class="room">
    <div class="room-name">
      <a href="#">チームA</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">チームB</a>
    </div>
  </div>
</div>