<div class="side-bar-header">
   <div class="header-name">
      <%= link_to "FutLive", root_path %>
   </div>
      <% if user_signed_in? %>
        <div class="create-room">
          <%= link_to 'ログアウト', destroy_user_session_path,  method: :delete%>
        </div>
     <% else %>
        <div class="create-room">
           <%= link_to "ログイン/新規登録", new_user_session_path %>
        </div>
      <% end %>
</div>

<% if user_signed_in? %>
<div class="rooms">
 <% @user.where.not(id: current_user.id).each do |f| %>
  <div class="room">
    <div class="room-name">
     <%= link_to "チーム　#{f.name}", post_messages_path(f.id) %>
    </div>
  </div>
 <% end %>
</div>
<% end %>
