.wrapper {
  display: flex;
  height: 100vh;
}



.side-bar {
  background-color: #333333;
  width: 300px;
  padding: 0 20px;
}

.side-bar-header {
  height: 100px;
  background-color: #595959;
}

.rooms {
  background-color: #333333;
  height: calc(100vh - 100px);
  padding: 0 20px;
}



.post {
  background-color: #1a1d21;
  width: calc(100vw - 300px);
}

.post-header {
  height: 100px;
  background-color: #3f3f3f;
  border-bottom: 1px solid #595959;
  padding: 0 40px;
}

.posts {
  background-color: #1a1d21;
  height: calc(100vh - 190px);
  padding: 46px 40px 0;
}

.form {
  background-color: #595959;
  height: 90px;
  padding: 20px 40px;
}