.wrapper {
  display: flex;
  height: 100vh;
}

/* ========ここからサイドバー=========== */

.side-bar {
  background-color: #333333;
  width: 300px;
}

/* ========ここからサイドバーのヘッダー=========== */


.side-bar-header {
  height: 100px;
  padding: 0 20px;
  background-color: #595959;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-name a{
  font-size: 20px;
  color: #FAFAFA;
  text-decoration: none;
}

.create-room a {
  font-size: 14px;
  border: 1px solid lightblue;
  padding: 14px;
  color: deepskyblue;
  text-decoration: none;
}

/* ========ここからサイドバーのルーム=========== */

.rooms {
  background-color: #333333;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.room {
  padding: 20px 0 40px;
}

.room-name a {
  text-decoration: none;
  color: white;
}




/* ========ここから投稿側=========== */


.post {
  background-color: #1a1d21;
  width: calc(100vw - 300px);
}

.post-header {
  height: 100px;
  background-color: #3f3f3f;
  border-bottom: 1px solid #595959;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.header-button {
  margin-top: 40px;
}


.header-button a {
  text-decoration: none;
  border: 1px solid lightblue;
  color: deepskyblue;
  padding: 20px;
}

.post-index{
  height: calc(100vh - 190px);
  overflow: scroll;
}

.posts {
  background-color: #1a1d21;
  padding: 30px 20px 0px 20px;
}

.message {
  margin: 10px 0 0 0;
  border: 1px solid #999;
  padding: 20px;

}

.upper-message{
  display: flex;
}

.message-user {
  color: white;
  font-size: 16px;
}


.lower-message {
  margin-top: 10px;
}

.message-content {
  color: white;
  font-size: 14px;
  margin-bottom: 10px;
}


.form {
  background-color: #595959;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  background-color:skyblue;
  width: 100%;
  display: flex;
  text-align: center;
}

.form-message {
  text-decoration: none;
  color: black;
  border: none;
  height: 50px;
  width: 100%;
  padding: auto;
  margin-top: 15px;
}

.message-date{
  color:white;
}